{% extends 'base.html.twig' %}

{% block main %}
    {# If a title is set, render it. #}
    <div style="width: fit-content; margin: 0 auto;">
        {% if title %}
            <h1>{{ title }}</h1>
        {% endif %}
        {# If content is set, render it. #}
        {% if content %}
            <p>{{ content }}</p>
        {% endif %}
    </div>
{% endblock %}